<!-- src/app/user-management/user-list/user-list.component.html -->
<!-- <div class="user-management">
    <h2>User Management</h2>
    <button (click)="openCreateDialog()" class="create-button">Create User</button>
    <table>
      <thead>
        <tr>
          <th>user id</th>
          <th>Name</th>
          <th>Email</th>
          <th>contact number</th>
          <th>role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{user.contactnumber}}</td>
          <td>{{role}}</td>
          
          <td>
            <button (click)="openEditDialog(user)" class="edit-button">Edit</button>
            <button (click)="deleteUser(user.id)" class="delete-button">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
   -->